<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Income</title>
  </head>
  <body>
    <h1>Add Income</h1>
    <form action="/income" method="POST">
      <input type="text" placeholder="Source" name="source" />
      <input type="number" placeholder="Amount" name="amount" />
      <input type="date" name="date" />
      <input type="submit" value="Add Income" />
    </form>
  </body>
</html>