<!DOCTYPE html>
<html>
  <head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to Finance Tracker</h1>
    <p>Where you can track your income,expenses and saving</p>
    <p>
      Your income,expenses and savings are categorized into different sections
      to help you understanding your finances in a more convenient and balanced
      way
    </p>
    <div class="login">
      <a href="/login">Login User</a>
    </div>
    <div class="register">
      <a href="/register">Register User</a>
    </div>
    <div class="dashboard">
      <a href="/dashboard">Dashboard</a>
    </div>
  </body>
</html>
