<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register User</title>
    <link rel="stylesheet" href="/stylesheets/registerUser.css" />
  </head>
  <body>
    <h1>User Register</h1>
    <form action="/register" method="POST">
      <input type="text" placeholder="Name" name="name" />
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Password" name="password" />
      <input type="number" placeholder="Age" name="age" />
      <input type="number" placeholder="Phone" name="phoneNumber" />
      <input type="text" placeholder="Country" name="country" />
      <input type="submit" value="Register User" />
      <button>
        <a href="/">Back</a>
      </button>
    </form>
  </body>
</html>